<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!-- .wrap이 basicLayout에 setContent함수에 전달 -->
<th:block th:replace="~{./include/basicLayout :: setContent( ~{:: .wrap}  ) }">

	<div class="wrap">
		<div class="warp_inner">

			<!-- left_menu end -->
			<div class="right_content">
				
				<div class="midiaq">
					<div class="mainWrapper"> 
						<div class="ipssGiudeBlock" style="color:red; font-size: large;">
							-요구사항<br>
							-판매자들이 소통하는 글에 대한 CRUD작업을 연습합니다.<br>
                            -모든 판매자가 작성한 글이 보여집니다.<br>
							-제목, 닉네임 으로 검색이 가능합니다.<br>
							-내용 클릭시 상세보기로 넘어 갑니다.<br>
						</div>
					</div>
					<div class="page_title">관리자검색</div>
					
					<form name="###########" action="noticeListAll" method="get" >
					<div class="search_block flfull">

						<!-- 검색버튼을 클릭할 때 page, amount, 검색 키워드를 넘긴다. -->
						<!-- 검색은 항상 페이지 번호가 1번이 되어야 한다. 그래서 name은 page이고, value는 1 -->
						<input type="hidden" name="page" value="1" >
						<input type="hidden" name="amount" th:value="${pageDTO.amount}">
						
						<div class="fl">
							<div>
								<span class="search_th">아이디 검색</span>
								<input type="text" class="" name="writer" placeholder="아이디 검색" th:value="${cri.writer}">
							</div>
							<div>
								<span class="search_th">제목 검색</span>
								<input type="text" class="" name="title" placeholder="제목 검색" th:value="${cri.title}">
							</div>
							<div>
								<span class="search_th">내용 검색</span>
								<input type="text" class="" name="content" placeholder="내용 검색" th:value="${cri.content}">
							</div>


						</div>

						<div class="fr">
							<div class="search_btn_area">
								<a href="#" id="noticeSearch" class="normal_btn purplebtn">검색</a>
								<a th:href="@{noticeReg}" class="normal_btn purplebtn02">등록</a>
							</div>
						</div>
					</div>

					<div class="full_collum collum">
						<ul>
							<li class="collum_tit">
								<h2>판매자 소통공간 - 전체 게시글 수 [[${pageDTO.total}]]개</h2>

								<select class="">
									<option value="10">10개 보기</option>
									<option value="20">20개 보기</option>
									<option value="40">40개 보기</option>
									<option value="80">80개 보기</option>
								</select>
								<span class="showtoggle minus"></span>
								<ul>
									<li>
										<table cellpadding="0" cellspacing="0" class="row_tb_7" width="100%;">
											<tr>
												<th>순서</th>
												<th>번호(PK)</th>
												<th>아이디</th>
												<th>제목</th>
												<th>내용</th>
												<th>등록일</th>
											</tr>
												
											<tr th:each="vo, status : ${pageDTO.pageData}">
												<td>[[${status.count}]]</td>
												<td>[[${vo.nno}]]</td>
												<td>[[${vo.writer}]]</td>
												<td>[[${vo.title}]]</td>
												<td>
													<a title="상세보기(클릭)" th:href="@{/notice/noticeDetail(nno=${vo.nno})}">[[${vo.content}]]</a>
												</td>
												<td>[[${ #temporals.format(vo.regdate, 'yyyy-MM-dd') }]]</td>
											</tr>
										</table>


										<div class="page">
											<ul>
												<li>
													<a th:href="@{noticeListAll(page=1, amount=${pageDTO.amount}, writer=${cri.writer}, title=${cri.title}, content=${cri.content})}"><i class="fa fa-angle-double-left" aria-hidden="true"></i></a>
												</li>
												
												
												<li th:if="${pageDTO.prev}">
													<a th:href="@{noticeListAll(page=${pageDTO.start - 1}, amount=${pageDTO.amount}, writer=${cri.writer}, title=${cri.title}, content=${cri.content})}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
												</li>
												
												<th:block th:each="num : ${pageDTO.pageList}">
												<li th:class="${pageDTO.page == num ? 'on' : ''}">
												<a th:href="@{noticeListAll(page=${num}, amount=${pageDTO.amount}, writer=${cri.writer}, title=${cri.title}, content=${cri.content})}">[[${num}]]</a></li>
												</th:block>
												
												<li th:if="${pageDTO.next}">
													<a th:href="@{noticeListAll(page=${pageDTO.end + 1}, amount=${pageDTO.amount}, writer=${cri.writer}, title=${cri.title}, content=${cri.content})}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
												</li>
												<li>
													<a th:href="@{noticeListAll(page=${pageDTO.pageTotal}, amount=${pageDTO.amount}, writer=${cri.writer}, title=${cri.title}, content=${cri.content})}"><i class="fa fa-angle-double-right" aria-hidden="true"></i></a>
												</li>
				
											</ul>
										</div>
									</li>
								</ul>
							</li>
						</ul>
					</div>
					</form>
				</div>
			</div>
		</div>
	</div><!-- end wrap -->
</th:block>

<script type="text/javascript">
	//noticeHandleForm
	$("#noticeSearch").click(function(e){
		e.preventDefault();  //event.preventDefault(); a태그 기본이벤트 중지 = a 태그를 버튼으로 사용할 수 있음
		$("form").submit();
	});
	
</script>

</html>